

#nav {
    visibility:visible;
  }

.active-navitem {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #EB5E28;
}  
#hover-container {
  visibility: hidden;
}
#hover-container2 {
  visibility: hidden;
}
#hover-container3 {
  visibility: hidden;
}
#hover-container4 {
  visibility: hidden;
}


.imagefull {
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 105vh; /* Teljes képernyős magasság */
  z-index: 1000;
  scroll-snap-type: y mandatory;
  overflow-y: scroll; /* Görgetés a section elemekre */
}

.section {
  height: 105vh; /* Minden section 100vh magas */
  width: 100%; /* Teljes szélesség */
  scroll-snap-align: start; /* Első elem pozícionálása a görgetés során */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.section__heading {
  text-align: center; /* Szöveg középre igazítása */
}

